bin/
obj/
/packages/
riderModule.iml
# Ignore application settings files
appsettings.json
!appsettings.template.json
!appsettings.Development.json
.idea
.idea/.idea.PortfolioManager/.idea/workspace.xml
.DS_Store
